/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #0056b3;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
    border-bottom: 3px solid #004494;
}

h1, p {
    padding: 0.5rem 0;
}

select {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

footer {
    background-color: #333333;
    color: #dddddd;
    padding: 1rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.bio, .qualificacao, .experiencias {
    margin-bottom: 20px;
}

.bio h2, .qualificacao h2, .experiencias h2 {
    background-color: #0056b3;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bio p, .qualificacao ul, .experiencias ul {
    padding-left: 20px;
}

ul {
    list-style-type: none;
}

li {
    background-color: #e7e7e7;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.evento {
    margin-bottom: 20px; /* Adiciona espaço entre cada evento */
    padding: 15px; /* Preenchimento interno para não deixar o conteúdo colado nas bordas */
    border: 1px solid #e7e7e7; /* Uma borda sutil */
    border-radius: 10px; /* Bordas arredondadas para suavizar o visual */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Uma leve sombra para dar profundidade */
    background-color: #ffffff; /* Fundo branco para cada evento, destacando do fundo da página */
}

/* Estilização adicional para imagens dentro de .evento */
.evento img {
    border-radius: 5px; /* Bordas arredondadas para as imagens */
    margin-right: 10px; /* Margem à direita da imagem para separar do texto */
    float: left; /* Faz com que o texto envolva a imagem */
}

/* Limpa o float para elementos .evento */
.evento:after {
    content: "";
    display: table;
    clear: both;
}