<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">

    <script>
        // função para redirecionar para a página selecionada
        function redirecionarParaPagina() {
            var pagina = document.getElementById("menuPaginas").value;
            window.location.href = pagina;
        }
    </script>
</head>
<body>

<header>
    <h1>Portfólio Laura Intrieri</h1>
</header>
<div>
    <!-- Dropdown menu para seleção das páginas -->
    <select id="menuPaginas" onchange="redirecionarParaPagina()">
        <option value="">Selecione uma Página</option>
        <option value="/infos">Informações</option>
        <option value="/projetos">Projetos</option>
        <option value="/publicacoes">Publicações</option>
    </select>
</div>
<!-- Conteúdo envolvido em uma div com classe container -->
<div class="container">
    <div class="bio">
        <h2>Sobre</h2>
        <p>Sou jornalista e atuo como repórter de ciência e tecnologia no Terra. Antes, colaborei com Agência Estado, Money Times e Suno Notícias. Tenho experiência na cobertura de mercados, economia, política, ciência e tecnologia.</p>
        <img src="https://files.sunoresearch.com.br/n/uploads/2022/10/WhatsApp-Image-2022-10-05-at-17.31.14-267x300.jpeg" alt="Foto Laura Intrieri" width="300">
    </div>
    <div class="qualificacao">
        <h2>Qualificação</h2>
        <ul>
            <li>2023 a 2024 - Master em Jornalismo de Dados e Automação | Insper.</li>
            <li>2018 a 2022 - Bacharelado em Administração Pública | FGV.</li>
        </ul>
    </div>

    <div class="experiencias">
        <h2>Experiências</h2>
        <ul>
            <li>Repórter de ciência e tecnologia | Terra <b>outubro de 2022 - atualmente </b></li>
            <li>Freelancer na cobertura de balanços | Agência Estado <b>julho de 2022 a agosto de 2022</b> </li>
            <li>Repórter | Suno Notícias <b> agosto de 2022 a outubro de 2022</b></li>
            <li>Estagiária de jornalismo | Money Times <b>dezembro de 2021 a junho de 2022</b></li>
            <li>Repórter | Gazeta Vargas <b>julho de 2020 a janeiro de 2022</b></li>
        </ul>
    </div>
    
<footer>
    <p>&copy; 2024 Laura Intrieri</p>
</footer>

</body>
</html>
