<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Informações</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <script>
        function redirecionarParaPagina() {
            var pagina = document.getElementById("menuPaginas").value;
            window.location.href = pagina;
        }
    </script>
</head>
<body>
<header>
    <h1>Informações para contato</h1>
    <p>(+55) 12 99744 2033</p>
    <p>lab.intrieri@gmail.com</p>
    <p></p>
</header>

<select id="menuPaginas" onchange="redirecionarParaPagina()">
    <option value="">Selecione uma Página</option>
    <option value="/">Página Inicial</option>
    <option value="/publicacoes">Publicações</option>
    <option value="/projetos">Projetos</option>
</select>

<footer>
    <p>&copy; 2024 Laura Intrieri</p>
</footer>
</body>
</html>