<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Projetos - Laura Intrieri</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <script>
        function redirecionarParaPagina() {
            var pagina = document.getElementById("menuPaginas").value;
            window.location.href = pagina;
        }
    </script>
</head>
<body>
    <header>
        <h1>Projetos em Jornalismo de Dados</h1>
        <p>Abaixo, meus projetos em jornalismo de dados mais recentes:</p>
    </header>

    <select id="menuPaginas" onchange="redirecionarParaPagina()">
        <option value="">Selecione uma Página</option>
        <option value="/">Página Inicial</option>
        <option value="/infos">Informações</option>
        <option value="/publicacoes">Publicações</option>
    </select>

    <div style="text-align: left;">
        <ul class="project-list">
            <li class="project" style="text-align: left;">
                <a href="https://automacao-rby3.onrender.com/sesc" style="text-decoration: none; color: inherit;">
                    <h2>Programação do Sesc no seu bolso</h2>
                </a>
                <p style="text-align: left;"><b>Descrição:</b> Raspagem automática de novos eventos na rede Sesc.</p>
                <a href="https://automacao-rby3.onrender.com/sesc">Visite o projeto!</a>
            </li>
            <!-- Adicionando o segundo projeto "Resumo de deputados por IA" -->
            <li class="project" style="text-align: left;">
                <a href="https://machine-learning-grupo-3.onrender.com" style="text-decoration: none; color: inherit;">
                    <h2>Resumo de deputados por IA</h2>
                </a>
                <p style="text-align: left;"><b>Descrição:</b> Um projeto que resume discursos da Câmara dos Deputados usando Inteligência Artificial.</p>
                <a href="https://machine-learning-grupo-3.onrender.com">Visite o projeto!</a>
            </li>
        </ul>
    </div>

    <footer>
        <p>&copy; 2024 Laura Intrieri</p>
    </footer>
</body>
</html>
