<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <script>
        // função para redirecionar para a página selecionada
        function redirecionarParaPagina() {
            var pagina = document.getElementById("menuPaginas").value;
            window.location.href = pagina;
        }
    </script>
</head>
<body>

<header>
    <h1>Portfólio Laura Intrieri</h1>
</header>
<div>
    <!-- Dropdown menu para seleção das páginas -->
    <select id="menuPaginas" onchange="redirecionarParaPagina()">
        <option value="">Selecione uma Página</option>
        <option value="/infos">Informações</option>
        <option value="/projetos">Projetos</option>
        <option value="/publicacoes">Publicações</option>
    </select>
</div>

<header>
    <h1>Raspagem de eventos do Sesc</h1>
    
</header>

<div class="container">
    <h2>Eventos Recentes do Sesc</h2>
    <a href="https://web.telegram.org/a/#7181193590">Confira o @BotRaspaSesc no Telegram!</a>
    {% for evento in documentos %}
        <div class="evento">
            <img src="{{ evento.imagem }}" alt="Imagem do evento" style="width:100px; height:auto;">
            <h3>{{ evento.titulo }}</h3>
            <p>{{ evento.complemento }}</p>
            <p>Data da próxima sessão: {{ evento.dataProxSessao }}</p>
            <p>Categorias: 
                {% for categoria in evento.categorias %}
                    {{ categoria.titulo }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            <a href="https://www.sescsp.org.br{{ evento.link }}" target="_blank">Mais informações</a>
        </div>
    {% endfor %}
    </div>   
</div>
</body>
</html>